<!doctype html>
<html class="no-js" lang="zxx">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Xavier's School for the Gifted</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- Place favicon.ico in the root directory -->
    <!-- all css here -->
    <link href="~/Content/assets/css/bootstrap-responsive.css" rel="stylesheet" />
    <link href="~/Content/assets/css/documenter_style.css" rel="stylesheet" />
    <link href="~/Content/assets/css/bootstrap.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/Content/css/pe-icon-7-stroke.css">
    <link rel="stylesheet" href="~/Content/css/owl.carousel.css">
    <link rel="stylesheet" href="~/Content/css/magnific-popup.css">
    <link rel="stylesheet" href="~/Content/css/meanmenu.css">
    <link rel="stylesheet" href="~/Content/style.css">
    <link rel="stylesheet" href="~/Content/css/responsive.css">
    <link href="~/Content/css/CustomStyleSheet.css" rel="stylesheet" />
    <script src="~/Content/js/vendor/modernizr-2.8.3.min.js"></script>
</head>
<body>
    <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <!-- Add your site or application content here -->
    <!-- header start -->
    <header>
        <div class="header-top-area black-bg hidden-xs">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <ul class="top-right">
                            <li>
                                <i class="fa fa-envelope"></i>
                                <span>Support@mail.com</span>
                            </li>
                            <li>
                                <i class="fa fa-phone"></i>
                                <span>+01 1800 453 7678</span>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-6 col-sm-6 hidden-xs">
                        <div class="header-icon floatright">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-google-plus"></i></a>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                            <a href="#"><i class="fa fa-youtube"></i></a>
                            <a href="#"><i class="fa fa-dribbble"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- main-menu-area-start -->
        <div class="main-menu-area">
            <div class="container" style="width: 1400px;">
                <div class="row">
                    <div class="col-md-3 col-sm-2">
                        <div class="logo">
                            <a href="index.html"><img src="~/Content/img/logo/1.png" alt="" /></a>
                        </div>
                    </div>
                    <div class="col-md-9 col-sm-10">
                        <div class="main-menu floatright">
                            <nav>
                                <ul>
                                    <li>
                                        @Html.ActionLink("Home", "Index", "Home")
                                    </li>
                                    @if (User.IsInRole("Admin"))
                                    {
                                        <li>
                                            @Html.ActionLink("Courses", "Index", "Cours")
                                        </li>
                                        <li>
                                            @Html.ActionLink("Student Statuses", "Index", "StudentStatus")
                                        </li>
                                    }
                                    @if ((User.IsInRole("Admin")) || (User.IsInRole("Scheduling")))
                                    {
                                        <li>
                                            @Html.ActionLink("Enrollment", "Index", "Enrollments")
                                        </li>
                                        <li>
                                            @Html.ActionLink("Scheduled Classes", "Index", "ScheduledClasses")
                                        </li>
                                    }
                                    @if ((User.IsInRole("Admin")) || (User.IsInRole("Scheduling")))
                                    {
                                        <li>
                                            @Html.ActionLink("Students", "Index", "Students")
                                        </li>
                                    }
                                    <li>
                                        @Html.ActionLink("Contact", "Contact", "Home")
                                    </li>
                                    @if (User.IsInRole("Admin"))
                                    {
                                        <li>
                                            <ul>
                                                <li>@Html.ActionLink("Roles", "Index", "RolesAdmin")</li>
                                                <li>@Html.ActionLink("Users", "Index", "UsersAdmin")</li>
                                            </ul>
                                        </li>
                                    }
                                    @Html.Partial("_LoginPartial")
                                </ul>

                            </nav>
                        </div>
                        <div class="mobile-menu-area"></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- main-menu-area-end -->
    </header>
    <!-- header end -->

    @RenderBody()

    <!-- footer start -->
    <footer>
        <div class="footer-area black-bg ptb-80">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-4">
                        <div class="footer-widget md-30">
                            <div class="footer-img">
                                <a href="#"><img src="~/Content/img/logo/2.png" alt="" /></a>
                            </div>
                            <div class="footer-address">
                                <p>We create themes and templates with bootstrap framework.</p>
                            </div>
                            <div class="address">
                                <ul class="list-unstyled contact">
                                    <li><p><strong><i class="fa fa-map-marker"></i> </strong> vaisahali, jaipur, 302012</p></li>
                                    <li><p><strong><i class="fa fa-envelope"></i></strong> <a href="#">Support@domain.com</a></p></li>
                                    <li> <p><strong><i class="fa fa-phone"></i></strong> +91 1800 2345 2132</p></li>
                                    <li> <p><strong><i class="fa fa-print"></i> </strong> 1800 2345 2132</p></li>
                                    <li> <p><strong><i class="fa fa-skype"></i> </strong> jondoe001</p></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom-area">
            <div class="container">
                <div class="social-icons text-center">
                    <label>Find Us:</label>
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-github"></i></a>
                    <a href="#"><i class="fa fa-linkedin"></i></a>
                    <a href="#"><i class="fa fa-tumblr"></i></a>
                    <a href="#"><i class="fa fa-flickr"></i></a>
                    <a href="#"><i class="fa fa-github"></i></a>
                    <a href="#"><i class="fa fa-ge"></i></a>
                    <a href="#"><i class="fa fa-pinterest"></i></a>
                    <a href="#"><i class="fa fa-amazon"></i></a>
                    <a href="#"><i class="fa fa-codepen"></i></a>
                </div>
                <div class="copyright text-center">
                    <p>
                        &copy;All Rights Reserved | Xavier's School for the Gifted
                    </p>
                    <!--<p>Smoth template - All rights reserved - 2018 © Made by</p>
                    <a href="#">ThemePure</a>-->
                </div>
            </div>
        </div>
    </footer>
    <!-- footer end -->
    <!-- all js here -->
    <script src="~/Content/js/vendor/jquery-1.12.0.min.js"></script>
    <script src="~/Content/js/bootstrap.min.js"></script>
    <script src="~/Content/js/owl.carousel.min.js"></script>
    <script src="~/Content/js/jquery.meanmenu.js"></script>
    <script src="~/Content/js/jquery.mixitup.min.js"></script>
    <script src="~/Content/js/jquery.magnific-popup.min.js"></script>
    <script src="~/Content/js/jquery.counterup.min.js"></script>
    <script src="~/Content/js/waypoints.min.js"></script>
    <script src="~/Content/js/plugins.js"></script>
    <script src="~/Content/js/main.js"></script>

    @RenderSection("scripts", required: false)
    <script>
        $('.mainmenu ul li a').each(function () {
            if ($(this).attr('href') == window.location.pathname) {
                $(this).addClass('active');
            }
        });
    </script>
</body>
</html>
